body {
  text-transform: uppercase;
  color: #000000;
  font-size: 14px;
}

nav ul,
.footer-social ul,
.benefits2 ul,
.benefits1 ul {
  list-style-type: none;
}

nav a
{
  text-decoration: none;
  font-weight: bold;
}

.soc-but a {
  text-decoration: none;
}

.logo-footer a {
  text-decoration: none;
  font-weight: bold;
}

.features-list h1,
.realtown h2,
.devil-bridge h2,
.benefits2 h2 {
  font-size: 21px;
}
.features-list p,
.benefits2 p {
  color: #b3b3b3;
}

.realtown p,
.devil-bridge p {
  color: white;
}

.benefits1 b {
  font-size: 21px;
}

.realtown,
.devil-bridge {
  background-color: #81b3d2;
  color: white;
}

.benefits2 {
  background-color: #eeeeee;
}

button.button-search {
  background-color: #766357;
  color: white;
}

button.calendar {
  background-image: url(img/svg-sedona/calendar.svg) no-repeat;
  width: 20px;
  height: 20px;
}
