body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  min-width: 1200px;
  text-transform: uppercase;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.welocome img {
  margin: 0;
}

.welcome {
  margin-bottom: 49px;
}
.main-info {
  margin: 0;
  text-align: center;
}

.main-info h1 {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 450px;
  text-align: center;
  margin-bottom: 27px;
  margin-left: auto;
  margin-right: auto;
}

.main-info p {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color:#333333;
  margin-bottom: 51px;
}

nav ul,
.footer-social ul,
.navigation-info li,
.navigation-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.benefits2 ul {
  list-style: none;
  margin: 0;
}


.navigation {
  position: relative;
  width: 1200px;
}

.main-logo {
  position: absolute;
  width: 140px;
  height: 72px;
  left: 50%;
  margin-left: -70px;
  margin-top: -1px;
}

.navigation-info {
  display: flex;
  justify-content: space-between;
  padding-top:14px;
  padding-bottom: 17px;
  padding-left: 71px;
  padding-right: 71px;
  width: 1200px;

}
.navigation-info li {
  width: 25%;
  max-width: 245px;
}

.navigation-info li:nth-of-type(2) {
  margin-right: auto;
}

.navigation-info a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.navigation-info li:nth-of-type(3),
.navigation-info li:nth-of-type(4) {
  text-align: right;
}

.navigation a:focus {
  color: #766357;
}

.navigation a:hover {
  color: #81b3d2;
}

.navigation a:active {
  color: #ff0000;
}

.soc-but a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.section {
  width: 100%;
  max-width: 400px;

}

.main-footer {
  position: relative;
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255,255,255,0.9);
  padding-top: 35px;
  padding-bottom: 37px;
}

.main-footer a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.visitsedona a{
 /*padding-left: 133px;*/
}

.visitsedona {
  text-align: center;
}

.logo-footer a{
  padding-left: 101px;
}

.upfooter {
  margin-top: -127px;
}

.social-button {
  display: flex;
}

.logo-footer a {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.logo-footer svg {
  position: absolute;
  fill: #231f20;
  width: 115px;
  height: 41px;
  left: 184px;
  bottom: -11px;
}

.logo-footer svg:hover {
  fill: #81b3d2;
}

.logo-footer svg:active {
  fill: #bdbbbc;
}

.devil-bridge h2,
.realtown h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  padding: 0 100px;
  padding-top: 47px;
  padding-bottom: 26px;
}

.benefits2 h2 {
  font-size: 21px;
  line-height: 21px;
}

.benefits2 p {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.devil-bridge p,
.realtown p {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
}

.search-hotel p {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.search-hotel p:nth-of-type(3),
.search-hotel p:nth-of-type(4) {
margin-bottom: 56px;
}

.search-hotel strong {
  display: block;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 25px;
}
.search-hotel {
  width: 1200px;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
}
.realtown,
.devil-bridge {
  display: flex;
  padding: 0;
  margin: 0;
  width: 1200px;
  background-color: #81b3d2;
  color: white;
}

.town-text {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.town-text p:first-of-type{
  padding-bottom: 20px;
}

.town-img img {
  display: block;
}

.benefits1-main {
  width: 1200px;
  padding-top: 60px;
  padding-bottom: 83px;
}

.benefits1-item-title b {
  display: block;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.benefits1-description {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  max-width: 306px;
}

.benefits1-item-title p {
  margin: 0;
}

.benefits2 {
  width: 1200px;
  background-color: #eeeeee;
  margin: 0;
  margin-bottom: 50px;
}

.benefits2-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0;
  padding-top: 47px;
  padding-bottom: 60px;
}

.benefits2-list li {
  width: 34.333%;
  max-width: 400px;
}

.benefits2-list h2 {
  max-width: 141px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
}

.benefits2-list p:first-of-type {
  padding-bottom: 20px;
}

.benefits2-list p {
  max-width: 261px;
  margin-left: auto;
  margin-right: auto;
}

.main-search{
  position: relative;
  width: 1200px;
}

.date-ar {
  background-color: #f2f2f2;
  border: none;
  width: 100%;
  margin-left: 111px;
  height: 37px;
  font-weight: bold;
  padding-left: 13px;
  text-transform: uppercase;
}

.calendar1 {
  background: transparent;
  background-image: url(../img/calendar.png);
  background-repeat: no-repeat;
  position: absolute;
  border: none;
  width: 38px;
  height: 38px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  background-position: 50% 50%;
  cursor: pointer;
  z-index: 3;
}

.date-de {
  background-color: #f2f2f2;
  border: none;
  width: 100%;
  margin-left: 111px;
  height: 37px;
  font-weight: bold;
  padding-left: 13px;
  text-transform: uppercase;
}

.calendar2 {
  background: transparent;
  background-image: url(../img/calendar.png);
  background-repeat: no-repeat;
  position: absolute;
  border: none;
  width: 38px;
  height: 38px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  background-position: 50% 50%;
  cursor: pointer;
  z-index: 3;
}

.form-search{
  position: relative;
}

.button-search {
  padding: 30px 0;
  max-width: 568px;
  width: 100%;
  background-color: #766357;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  margin: 0 auto;
}

.test {
  margin-left: auto;
}

.popap-reserve {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  position: absolute;
  margin: 0;
  padding: 0;
  padding-left: 56px;
  padding-right: 54px;
  padding-top: 55px;
  max-width: 568px;
  width: 100%;
  left: 316px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffffff;
}

.popap-reserve p {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.gap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.popap-reserve p:nth-of-type(3),
.popap-reserve p:nth-of-type(4) {
  width: 50%;
}

.lift {
  margin-bottom: 46px;
}


.gapchildren {
  padding-left: 50px;
}
.button-search:hover {
  background-color: #604e43;
}

.button-search:active {
  color: #857871;
  background-color: #503e33;
}

.calendar1:hover,
.calendar2:hover {
  background-image: url(../img/calendar-black.png);
}

.calendar1:active,
.calendar2:active {
  background-image: url(../img/calendar-blue.png);
}

.minus {
  box-sizing: border-box;
  border: none;
  width: 38px;
  height: 38px;
  font-size: 25px;
  color: #a9a9a9;
  background-color: #f2f2f2;
  margin-left: 111px;
  font-weight: bold;
}

.minus:hover {
  color: #000000;
}

.minus:active {
  color: #81b3d2;
}

.plus {
  box-sizing: border-box;
  border: none;
  width: 38px;
  height: 38px;
  font-size: 25px;
  color: #a9a9a9;
  background-color: #f2f2f2;
  font-weight: bold;
}

.plus:hover {
  color: #000000;
}

.plus:active {
  color: #81b3d2;
}

.button-find {
  width: 458px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 55px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.button-find:hover {
  background-color: #669ec0;
}

.button-find:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.visit {
  font-size: 21px;
  line-height: 26px;
}

.benefits1 {
  display: flex;
  width: 1200px;
  background: #0000;
  margin: 0;
  padding: 0;
  list-style:none;
}

.benefits1-item {
  width: 33.333%;
  padding-top: 100px;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
  position: relative;
}

.benefits1 li {
  text-align: center;
}

.benefits1-item::after {
  content:"";
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 50%;
  transform:translateX(-50%);
}

.benefits1-item-housing::after {
  background: url(../img/svg-sedona/icon-1.svg);
  background-repeat: no-repeat;
}

.benefits1-item-food::after {
  background: url(../img/svg-sedona/icon-3.svg);
  background-repeat: no-repeat;
}

.benefits1-item-souvenir::after {
  background: url(../img/svg-sedona/icon-2.svg);
  background-repeat: no-repeat;
}

.benefits1-item-title {
  text-transform: uppercase;
}

.visit {
  font-size: 21px;
  line-height: 26px;
}

.social-button li{
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 6px;
}

.social-button li:first-of-type{
  margin-left: auto;
}

.social-button li:last-of-type{
  margin-right: auto;
}

.social-button a {
  display: block;
  width: 46px;
  height: 48px;
  font-size: 0;
}

.social-button a:hover {
  background-color: #669ec0;
}

.social-button a:active {
  color: #88b6d1;
  background-color: #5496bd;
  opacity: 0.4;
}

.button-twitter {
  background-image: url(../img/twit-icon.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-size: 0;
}

.button-facebook {
  background-image: url(../img/fb-icon.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-size: 0;
}

.button-youtube {
  background-image: url(../img/youtube.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-size: 0;
}

.grownup-number {
  margin: 0;
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  text-align: center;
  font-weight: bold;
}

.child-number {
  margin: 0;
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  text-align: center;
  font-weight: bold;
}

/* Отсюда идет cтилизация inner.html */

fieldset {
   border:0 none;
}

.search-inner {
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
}

.search {
  display: flex;
  padding-top: 26px;
  padding-bottom: 40px;
  padding-left: 63px;
  padding-right: 16px;
}

.main-search-result {
  width: 1200px;
}

.search-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 29px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #cacaca;
}

.search-result:first-child {
  border-top: 1px solid #cacaca;
}

.infrastructure legend,
.price-day legend,
.type-housing legend{
  font-size: 16px;
  line-height: 21px;
}

.infrastructure {
  display: flex;
}

.type-housing{
  display: flex;
}

.price-day {
  margin-left: auto;
}
.stabber {
  width: 1200px;
  padding: 0 auto;
}

.range-filter {
  width: 240px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: ;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: transparent;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 65px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  box-sizing: content-box;
  top: 33px;
  left: 50px;
}

.range-controls .toggle-max {
  box-sizing: content-box;
  top: 33px;
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.show {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background: transparent;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.show:hover {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background: #ffffff;
}

.sort-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 61px;
  padding-right: 65px;
}

.find {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-left: 10px;
}

.sort {
  font-size: 12px;
  line-height: 18px;
  margin-left: 49px;
}

.price {
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;
  text-decoration: none;
  margin-left: 40px;
}

.type {
  font-size: 12px;
  line-height: 18px;
  color: #cacaca;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
  margin-left: 32px;
}

.type:hover {
  color: #81b3d2;
}

.type:active {
  color: #000000;
}

.rating {
  font-size: 12px;
  line-height: 18px;
  color: #cacaca;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
  margin-left: 34px;
  margin-right: auto;
}

.rating:hover {
  color: #81b3d2;
}

.rating:active {
  color: #000000;
}

.up {
  height: 20px;
  background: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  fill: #cacaca;
}

.up:hover {
  fill: #231f20;
}

.up:active {
  fill: #81b3d2;
}

.down {
  height: 20px;
  background: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  fill: #81b3d2;
}

.down:hover {
  fill: #231f20;
}

.down:active {
  fill: #81b3d2;
}

.info-search p {
  font-size: 14px;
  line-height: 21px;
  color: #696969;
}

.info-search p:nth-of-type(1) {
  width: 100%;
  margin-bottom: 9px;
}

.info-search p:nth-of-type(2) {
  width: 100%;
  margin-bottom: 16px;
}

.info-search a {
  text-align: center;
}
.search-result figure {
  margin-left: 72px;
}

.info-search {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: 30px;
  outline: 2px solid red;
  max-width: 840px;
}

.info-search2{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
  width: 115px;
  outline: 2px solid red;
}

.info-search p span {
  margin-left: 35px;
}

.detailed {
  padding-top: 4px;
  padding-left: 15px;
  padding-right: 17px;
  padding-bottom: 5px;
  color: #ffffff;
  background-color: #81b3d2;
  text-decoration: none;
}

.detailed:hover {
  background-color: #669ec0;
}

.detailed:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.book {
  padding-top: 4px;
  padding-left: 15px;
  padding-right: 17px;
  padding-bottom: 5px;
  margin-left: 6px;
  color: #ffffff;
  background-color: #766357;
  text-decoration: none;
}

.book:hover {
  background-color: #604e43;
}

.book:active {
  color: #857871;
  background-color: #503e33;
}

.star-amara {
  background-image: url(../img/svg-sedona/star.svg);
	width: 72px;
	height: 17px;
	background-repeat: space;

}

.star-desert {
  background-image: url(../img/svg-sedona/star.svg);
	width: 54px;
	height: 17px;
	background-repeat: space;

}

.star-villas {
  background-image: url(../img/svg-sedona/star.svg);
	width: 36px;
	height: 17px;
	background-repeat: space;

}

.rating-result {
  margin-top: auto;
  width: 110px;
  height: 27px;
  color: #666666;
  background-color: #f2f2f2;
  text-align: center;
  vertical-align: middle;
}

.name-hotel {
  font-size: 21px;
  line-height: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.name-hotel a {
  display: block;
  margin-bottom: 30px;
}

.name-hotel:hover {
  color: #81b3d2;
}

.name-hotel:active {
  color: #b2b2b2;
}
